<h1>My Childhood Mall</h1>
<hr />
<h2>Click a Business To View Content</h2>
<%= link_to 'Create a New Business', new_dept_path %>
<ul>
  <% @depts.each do |dept| %>
    <li><%= link_to dept.business, dept %></li>
  <% end %>
</ul
