<h1>Click To View Item</h1>
<%= link_to 'Create a new item', new_dept_item_path(@dept) %>
<ul>
  <% @items.depts_id.each do |item| %>
    <li><%= link_to item.discription, [@dept, item] %></li>
  <% end %>
</ul>
